extends layout

block content
	body
	script(src="javascripts/homeBtn.js")
	div.container-narrow
		h3 Welcome home!
			div.row.well
				form.span3(action="#", method="post")
					div.btn-group.btn-group-vertical.center-element
						button#homeBtnUpload.btn.span2(type="button") Upload a picture!
						button#homeBtnLogout.btn.span2(type="button") Log out
						button#homeBtnViewer.btn.span2(type="button") Viewer
				div#home-img-container
					label
						strong Your most recent upload:
					img.img-polaroid(src="#{path}")