extends layout

block content
	body
	div.container-narrow
		h3 Welcome home!
		form#myacct-btn.offset1(action="/myAccount", method="post")
					button.btn(type="submit") My Account
		form#logout-btn.offset1(action="/logout", method="post")
					button.btn(type="submit") Log out
		form#viewer-btn.offset1(action="/viewer", method="post")
					button.btn(type="submit") Viewer