extends layout

block content
	link(href="stylesheets/home.css", rel="stylesheet")
	include navUser
	.container-narrow
		h3 Welcome home!
			#home-well.well
				#home-img
					label
						strong Your most recent upload:
					img#home-img.img-polaroid(src="#{path}")