extends layout

block content
	script(src="javascripts/homeBtn.js")
	div.container-narrow
		h3 Welcome home!
			div.row.well
				form.span3(action="#", method="post")
					div.btn-group.btn-group-vertical.center-element
						button#homeBtnUpload.btn.span2(type="button") Upload a picture!
						button#homeBtnMyUploads.btn.span2(type="button") My Uploads
						button#homeBtnLogout.btn.span2(type="button") Log out
						//button#homeBtnViewer.btn.span2(type="button") Viewer
						//button#homeBtnViewer2.btn.span2(type="button") Viewer2
				div#home-img-container
					label
						strong Your most recent upload:
					img.img-polaroid#home-img(src="#{path}")