extends layout

block content
	div.container-narrow
		div.pull-left
			h1= title
			p A truly awesome image collection.
			img(src="images/cat1.jpg", height="400px", width="400px")
		
		div.well.pull-right
			form#login-form(action="/login", method="post")
				label
					strong Log In!
				div.input-prepend
					span.add-on
						i.icon-user
					input.span3(type="text", name="username", placeholder="Username")
				br
				div.input-prepend
					span.add-on
						i.icon-lock
					input.span3(type="text", name="password", placeholder="Password")		
				br
				button.btn.btn-primary(type="submit") Login
		form#register-btn.pull-right(action="/register", method="post")
			label Want to add to our collection?
			button.bt(type="submit") Sign up!