extends layout

block content
	div.container-narrow
		h2 My Account		
		br	
		form#upload-btn.offset1(action="/upload", method="post")
			button.btn(type="submit") Upload a picture!
		form#home-btn.offset1(action="/home", method="post")
			button.btn(type="submit") Home