
.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			a.brand(href="/") PictureHub
			ul.nav
				li
					a(href="/home") Home
				li
					a(href="/upload") Upload a Picture
				li
					a(href="/myUploads") My Uploads
				li
					a(href="/catIndex") View Categories
			ul.nav.pull-right
				li
					a(href="/logout") Log Out