extends layout

block content
	include navPublic
	link(href="stylesheets/register.css", rel="stylesheet")
	script(src="javascripts/regValidate.js")
	
	.container-narrow
		- if(error)
			.alert.alert-error 
				strong #{error}
		h3.pull-left Make an account. Upload cool pictures. It's as simple as that.
		#registerFormContainer.offset1
			form#registerForm.form-horizontal(action="/registerSubmit", method="post")
				.control-group
					label.control-label(for="inputUsername") Select a Username (min. 6 characters)
					.controls
						input#inputUsername.required(name="username", type="text", placeholder="Username")
				.control-group
					label.control-label(for="inputPassword") Select a Password (min. 6 characters)
					.controls
						input#inputPassword(name="password", type="password", placeholder="Password")
				.control-group
					label.control-label(for="inputPassConf") Confirm your Password
					.controls
						input#inputPassConf(name="passconf", type="password", placeholder="Password again")
				.control-group
					label.control-label What are your favourite categories? (this step is optional; you can always choose later)
					.controls
						label.checkbox Funny
							input(type="checkbox", name="catBoxFunny")
						label.checkbox Sports
							input(type="checkbox", name="catBoxSports")
						label.checkbox Nature
							input(type="checkbox", name="catBoxNature")
						label.checkbox People
							input(type="checkbox", name="catBoxPeople")
						label.checkbox Art
							input(type="checkbox", name="catBoxArt")
						label.checkbox Misc
							input(type="checkbox", name="catBoxMisc")
				button.btn.offset1.submit(type="submit") Submit