extends layout

block content
	div.container-narrow
		h3.pull-left Make an account. Upload cool pictures. It's as simple as that.
		div#registerFormContainer.offset1
			form.form-horizontal
				div.control-group
					label.control-label(for="inputUsername") Select a Username
					div.controls
						input#inputUsername(type="text", placeholder="Username")
				div.control-group
					label.control-label(for="inputPassword") Select a Password (min. 6 characters)
					div.controls
						input#inputPassword(type="password", placeholder="Password")
				div.control-group
					label.control-label(for="inputPassConf") Confirm your Password
					div.controls
						input#inputPassConf(type="password", placeholder="Password again")
				div.control-group
					label.control-label What are your favourite categories? (this step is optional; you can always choose later)
					div.controls
						label.checkbox Funny
							input(type="checkbox")
						label.checkbox Sports
							input(type="checkbox")
						label.checkbox Nature
							input(type="checkbox")
						label.checkbox People
							input(type="checkbox")
						label.checkbox Art
							input(type="checkbox")
				button.btn.offset1(type="submit") Submit