extends layout

block content
	div.container-narrow
		h3 Upload a picture
		
		div#uploadFormContainer.offset1
			form.form-horizontal(action="/uploadFile", method="post", enctype="multipart/form-data")
				div.control-group
					label.control-label Which categories should this picture be in?
					div.controls
						label.checkbox Funny
							input(type="checkbox")
						label.checkbox Sports
							input(type="checkbox")
						label.checkbox Nature
							input(type="checkbox")
						label.checkbox People
							input(type="checkbox")
						label.checkbox Art
							input(type="checkbox")
				input#lefile(type="file", name="uploadedFile", style="display:none")
				div.input-append
					input#photoCover.input-large(type="text")
					a.btn(onclick="$('input[id=lefile]').click();") Browse
				button.btn.offset1(type="submit") Submit