extends layout

block content
	div#viewer-horizon
		div#viewer-carousel.carousel.slide.span6
			// Carousel items
			div.carousel-inner
				div.active.item
					img(src="images/cat1.jpg", height="500px", width="500px")
				div.item
					img(src="images/cat2.jpg", height="500px", width="500px")
				div.item
					img(src="images/cat3.jpg", height="500px", width="500px")
			// Carousel nav
			a.carousel-control.left(href="#viewer-carousel", data-slide="prev") &lsaquo;
			a.carousel-control.right(href="#viewer-carousel", data-slide="next") &rsaquo;