extends layout

block content
	body
	div(id="viewer-horizon")
		div(id="viewer-carousel", class="carousel slide span6")
			// Carousel items
			div(class="carousel-inner")
				div(class="active item")
					img(src="images/cat1.jpg", height="500px", width="500px")
				div(class="item")
					img(src="images/cat2.jpg", height="500px", width="500px")
				div(class="item")
					img(src="images/cat3.jpg", height="500px", width="500px")
			// Carousel nav
			a(class="carousel-control left", href="#viewer-carousel", data-slide="prev") &lsaquo;
			a(class="carousel-control right", href="#viewer-carousel", data-slide="next") &rsaquo;