/*** catIndex.jade ***/
#cat-index-well {
  height: 900px;
  width: 900px;
}
.cat-index-btn {
  display: block;
  float: left;
  width: 120px;
  margin: 0px 30px;
}
.cat-index-img {
  max-height: 100px;
  max-width: 200px;
  margin: 5px;
  display: inline-block;
}
.cat-index-outer-container {
  display: block;
  min-height: 120px;
}
.cat-index-thumb-container {
  display: block;
  margin: 5px 30px;
}
