/*** home.jade ***/

#home-hdr
	margin-bottom: 20px

.home-subhdr
	margin: 30px 20px
	
#home-well
	height: auto
	min-height: 300px
	width: 900px

#track-form
	margin: 10px 20px

.track-form-lbl
	display: inline-block

#track-form-input-user
	display: inline
	margin-left: 0px
	width: 170px
	
#track-form-input-cat
	display: inline
	margin-left: 0px
	width: 170px

.track-form-btn
	display: inline
	margin-right: 0px
	width: 130px
	
#tracked-container
	width: 680px
	clear: left

.tracked-cat-frame
	background-color: #EDCECE
	padding: 10px
	margin: 50px
	border: 2px solid #F09797
	border-radius: 20px
	
.tracked-user-frame
	background-color: #A1D0FF
	padding: 10px
	margin: 50px
	border: 2px solid #8FB9E3
	border-radius: 20px

.tracked-label	
	color: #000000
	font-size: 16px
	margin: 20px 0px
	
.tracked-cat-caption
	color: #000066
	font-size: 18px
	margin: 20px 0px
	
.tracked-user-caption
	color: #D90909
	font-size: 18px
	margin: 20px 0px
	
.tracked-img
	max-height: 180px
	max-width: 300px
	margin: 0px auto
	
#upl-img-frame
	padding: 5px 15px
	background-color: #FCFAA9
	border: 2px solid #D9D68D
	border-radius: 20px
	float: right
	margin: 5px 60px
	
#upl-img
	max-height: 150px
	max-width: 180px
	float: left	

#upl-caption
	margin: 5px
	clear: left
	
