/*** general layout / utility ***/

body
	padding-top: 120px
	padding-bottom: 40px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif	
	
a
	color: #00B7FF
	
.container-narrow
	margin: 0 auto
	max-width: 900px

.center-element
	text-align: center
	
.put-inline
	display: inline
	
